@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
.roof_{
    animation: roof_ani 3s;
    position : absolute;
    animation-fill-mode: forwards;
    border-style: solid;
    z-index: 6;
    width: 0px;
    height: 0px;
}
.house_{
    animation: house_ani 1.5s;
    position : absolute;
    animation-fill-mode: forwards;
    border-style: solid;
    border: white;
    z-index: 4;
}
.door_out_{
    position : absolute;
    top:384px;
    right: 615px;
    border-style: solid;
    width: 60px;
    height: 90px;
    border: white;
    z-index: 5;
    background:chocolate;
}
.apple_with_board_{
    position : absolute;
    width: 300px;
    height: 300px;
    z-index: 10;
    display: none;
}
.restaurant_{
    color: white;
    position : absolute;
    font-size: 125px;
    z-index: 11;
    display: none;
}
.start_{
    border: solid;
    border-width: 2.5px;
    border-color:navajowhite;
    position : absolute;
    z-index: 10;
    display: none;
    color: white;
}
body{
    font-family: 'Vujahday Script', cursive;
    color: white;
}
.start_{
    display: inline-block;
    justify-content: center;
    text-align:center;
}
#button{
    background-color: rgb(241, 229, 211)
}
input{
    outline-style: none ;
    border:0px;
    background-color: #272727;
    font-family: 'Vujahday Script', cursive;
}
.chimney_{
    position : absolute;
    border-style: solid;
    width: 50px;
    height: 90px;
    border: white;
    z-index: 5;
    background:chocolate;
    display: none;
}
.door_in_{
    position : absolute;
    border-style: solid;
    width: 60px;
    height: 90px;
    border: white;
    display: none;
    z-index: 4;
    background:#272727;
}
@keyframes roof_ani{
    0%{
        border-width: 100px 100px 100px 100px;
        border-color:green gold yellowgreen goldenrod;
    }
    30%{
        border-width: 70px 70px 70px 70px;
        border-color: goldenrod transparent   yellow transparent;
    }
    50%{
        border-width: 80px 80px 80px 80px;
        border-color:transparent  transparent orange transparent;
    }
    100%{
        border-width: 0px 200px 100px 200px;
        border-color:transparent  transparent RED transparent;
    }
}
@keyframes house_ani{
    0%{
        width:300px;
        height:0px;
        background:orange;
    }
    100%{
        width:300px;
        height:200px;
        background:yellow;
    }
}
.google_link{
    text-decoration: none;
    color:#FFC78E;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #272727;
  }

.moon_ {
    position: absolute;
    width: 25em;
    height: 25em;
    background: #272727;
    border-radius: 50%;
    box-shadow: inset 0.5em -0.5em whitesmoke;
    animation: spin 4s linear infinite;
  }
  .moon_::before, .moon_::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    box-shadow: inherit;
  }
  .moon_::before {
    filter: blur(10px);
  }
  .moon_::after {
    filter: blur(20px);
  }
  
  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }

@keyframes ldio-b80x8xf4rvl {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-b80x8xf4rvl div {
  left: 101.2px;
  top:10.2px;
  position: absolute;
  animation: ldio-b80x8xf4rvl linear 1.5151515151515151s infinite;
  background: #ffffff;
  width: 17.6px;
  height: 30.800000000000004px;
  border-radius: 8.8px / 15.400000000000002px;
  transform-origin: 8.8px 63.800000000000004px;
}.ldio-b80x8xf4rvl div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.3986013986013985s;
  background: #ffffff;
}.ldio-b80x8xf4rvl div:nth-child(2) {
  transform: rotate(27.692307692307693deg);
  animation-delay: -1.282051282051282s;
  background: #f5fdff;
}.ldio-b80x8xf4rvl div:nth-child(3) {
  transform: rotate(55.38461538461539deg);
  animation-delay: -1.1655011655011656s;
  background: #e7f6ff;
}.ldio-b80x8xf4rvl div:nth-child(4) {
  transform: rotate(83.07692307692308deg);
  animation-delay: -1.048951048951049s;
  background: #dbecff;
}.ldio-b80x8xf4rvl div:nth-child(5) {
  transform: rotate(110.76923076923077deg);
  animation-delay: -0.9324009324009324s;
  background: #d3e6ff;
}.ldio-b80x8xf4rvl div:nth-child(6) {
  transform: rotate(138.46153846153845deg);
  animation-delay: -0.8158508158508159s;
  background: #ffffff;
}.ldio-b80x8xf4rvl div:nth-child(7) {
  transform: rotate(166.15384615384616deg);
  animation-delay: -0.6993006993006993s;
  background: #f5fdff;
}.ldio-b80x8xf4rvl div:nth-child(8) {
  transform: rotate(193.84615384615384deg);
  animation-delay: -0.5827505827505828s;
  background: #e7f6ff;
}.ldio-b80x8xf4rvl div:nth-child(9) {
  transform: rotate(221.53846153846155deg);
  animation-delay: -0.4662004662004662s;
  background: #dbecff;
}.ldio-b80x8xf4rvl div:nth-child(10) {
  transform: rotate(249.23076923076923deg);
  animation-delay: -0.34965034965034963s;
  background: #d3e6ff;
}.ldio-b80x8xf4rvl div:nth-child(11) {
  transform: rotate(276.9230769230769deg);
  animation-delay: -0.2331002331002331s;
  background: #ffffff;
}.ldio-b80x8xf4rvl div:nth-child(12) {
  transform: rotate(304.61538461538464deg);
  animation-delay: -0.11655011655011654s;
  background: #f5fdff;
}.ldio-b80x8xf4rvl div:nth-child(13) {
  transform: rotate(332.3076923076923deg);
  animation-delay: 0s;
  background: #e7f6ff;
}
.loadingio-spinner-spinner-zfwbrm7me7i {
  width: 220px;
  height: 220px;
  position:absolute;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-b80x8xf4rvl {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-b80x8xf4rvl div { box-sizing: content-box; }
/* generated by https://loading.io/ */
