@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
.roof_{
    animation: roof_ani 3s;
    position : absolute;
    animation-fill-mode: forwards;
    border-style: solid;
    z-index: 3;
    width: 0px;
    height: 0px;
}
.house_{
    animation: house_ani 1.5s;
    position : absolute;
    animation-fill-mode: forwards;
    border-style: solid;
    border: white;
    z-index: 2;
}
.door_out_{
    position : absolute;
    top:384px;
    right: 615px;
    border-style: solid;
    width: 60px;
    height: 90px;
    border: white;
    z-index: 3;
    background:chocolate;
}
.apple_with_board_{
    position : absolute;
    width: 300px;
    height: 300px;
    z-index: 10;
    display: none;
}
.restaurant_{
    color: white;
    position : absolute;
    font-size: 125px;
    z-index: 11;
    display: none;
}
.checkin_{
    border: solid;
    border-color:navajowhite;
    position : absolute;
    z-index: 100;
    display: none;
}
body{
    font-family: 'Vujahday Script', cursive;
    background-color: #272727;
    color: white;
}
form{
    display: inline-block;
    justify-content: center;
    text-align:center;
}
input{
    outline-style: none ;
    border:0px;
    background-color: #272727;
    font-family: 'Vujahday Script', cursive;
}
.cloud_{
    position : absolute;
    width: 70px;
    height: 50px;

}
#submit{
    background-color: rgb(241, 229, 211)
}
.chimney_{
    position : absolute;
    border-style: solid;
    width: 50px;
    height: 90px;
    border: white;
    z-index: 1;
    background:chocolate;
    display: none;
}
.door_in_{
    position : absolute;
    border-style: solid;
    width: 60px;
    height: 90px;
    border: white;
    display: none;
    z-index: 2;
    background:white;
}
@keyframes roof_ani{
    0%{
        border-width: 100px 100px 100px 100px;
        border-color:green gold yellowgreen goldenrod;
    }
    30%{
        border-width: 70px 70px 70px 70px;
        border-color: goldenrod transparent   yellow transparent;
    }
    50%{
        border-width: 80px 80px 80px 80px;
        border-color:transparent  transparent orange transparent;
    }
    100%{
        border-width: 0px 200px 100px 200px;
        border-color:transparent  transparent RED transparent;
    }
}
@keyframes house_ani{
    0%{
        width:300px;
        height:0px;
        background:orange;
    }
    100%{
        width:300px;
        height:200px;
        background:yellow;
    }
}
