@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
.time_cook_1{
    color: black;
    font-size: 3ex;
    position:absolute;
    text-align:center;
    display: inline-block;
    z-index: 5;
}
.time_cook_2{
    color: white;
    font-size: 3ex;
    position:absolute;
    text-align:center;
    display: inline-block;
    z-index: 5;
}
.time_cook_3{
    color: white;
    font-size: 3ex;
    position:absolute;
    text-align:center;
    display: inline-block;
    z-index: 5;
}
a{
    text-decoration: none;
}
.end{
    background:#272727;
    width: 500px;
    height: 100px;
    position:absolute;
    text-align:center;
    display: inline-block;
    color: rgb(246, 248, 212);
    font-size: 10ex;
    border-style: solid;
    border: #272727;
    position:absolute;
    text-align:center;
    display: inline-block;
    z-index: 5;
}
.time{
    color: white;
    font-size: 8ex;
    position:absolute;
    text-align:center;
    display: inline-block;
    z-index: 5;
}

.cook_1{
    position:absolute;
    width: 200px;
    z-index: 4;
}

.cook_2{
    position:absolute;
    width: 180px;
    z-index: 4;
}

.cook_3{
    position:absolute;
    width: 200px;
    z-index: 4;
}

.apple{
    position:absolute;
    width: 100px;
    z-index: 4;
}
.pear{
    position:absolute;
    width: 100px;
    z-index: 4;
}

.fish{
    position:absolute;
    width: 100px;
    z-index: 5;
}

.fish_ok{
    position:absolute;
    width: 100px;
    z-index: 5;
}

.fri_1{
    position:absolute;
    z-index: 5;
    width: 80px;
}

.fri_2{
    position:absolute;
    z-index: 5;
    width: 80px;
}

.fri_3{
    position:absolute;
    z-index: 5;
    width: 80px;
}

.chicken{
    position:absolute;
    width: 80px;
    z-index: 5;
}

.chicken_ok{
    position:absolute;
    width: 100px;
    z-index: 5;
}


.noodle{
    position:absolute;
    width: 80px;
    z-index: 5;
}

.noodle_ok{
    position:absolute;
    width: 100px;
    z-index: 5;
}

.egg{
    position:absolute;
    z-index: 5;
}

.egg_ok{
    position:absolute;
    width: 100px;
    z-index: 5;
}

.wood_{
    position:absolute;  
    z-index: 3; 
    width: 1250px;
}
body{
   font-family: 'Vujahday Script', cursive;
   background-color: #272727;
}

.guest1{
    position:absolute;
    width: 200px;
}

.guest2{
    position:absolute;
    width: 200px;
}

.guest3{
    position:absolute;
    width: 200px;
}

.guest4{
    position:absolute;
    width: 200px;
}

.want1{
    font-size: 3ex;
    position:absolute;
    text-align:center;
    display: inline-block;
    z-index: 5;
    color: white;
}
.want2{
    font-size: 3ex;
    position:absolute;
    text-align:center;
    display: inline-block;
    z-index: 5;
    color: white;
}
.want3{
    font-size: 3ex;
    position:absolute;
    text-align:center;
    display: inline-block;
    z-index: 5;
    color: white;
}
.want4{
    font-size: 3ex;
    position:absolute;
    text-align:center;
    display: inline-block;
    z-index: 5;
    color: white;
}

.score{
    font-size: 8ex;
    position:absolute;
    text-align:center;
    display: inline-block;
    z-index: 5;
    color: white;
}

.music{
    font-size: 8ex;
    position:absolute;
    text-align:center;
    display: inline-block;
    z-index: 5;
    color: white;
}
a{
    font-size: 0.5em;
    text-decoration: none;
    color:blanchedalmond;
}
