body{
    background-color: lightblue;
}

.tom_blanket{
    position: absolute;
}
    #tom_blanket{
        z-index: 99;
    }

.blank{
    z-index: -1;
    width: 1px;
    height: 1px;
}

.wasted{
    position: absolute;
    z-index: 20;
}
.head_img{
    position: absolute;
    z-index: 10;

}
.sp{
    position: relative;
    z-index: 55;
}

.food{
    position: absolute;
}


.box{
    position: relative;
    z-index: 70;
}

.guest{
    position: absolute;
}



.guest_0{
    position: absolute;

}
#sky{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}
#wood{
    position: absolute;
    right: 0px;
    z-index: 50;
}
#xp{
    position: absolute;
    right: 0px;
    z-index: 99;
}

.special{
    position: absolute;
    z-index: 55;
}

#spp{
    z-index: 88;
}
.bar{
    height: 10px;
    background-color: white ;
    position: absolute;
    left: 10px;
    border: solid 3px #ff7f50;
}
#miss{
    position: absolute;
    
}
#score{
    position: absolute;
    right: 30px;
    font-size: 50px;
}
.left{
    display: none;
}



