body{
    background-color: lightblue;
}



.wasted{
    position: absolute;
    z-index: 20;
}
.head_img{
    position: absolute;
    z-index: 10;

}
.sp{
    position: relative;
    z-index: 55;
}

.box{
    position: relative;
    z-index: 70;
}

.guest{
    position: absolute;
}



#guest{
    position: absolute;

}
#sky{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}
#wood{
    position: absolute;
    right: 0px;
    z-index: 50;
}
#xp{
    position: absolute;
    right: 0px;
    z-index: 99;
}

#special{
    position: absolute;
    z-index: 55;
}
